nav {
    padding: 30px;
    
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    
}

.nav-links {
    text-align: right;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    padding: 0 0 0 20px;
    display: inline;
}

.nav-links a {
    font-size: 10pt;  
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    opacity: 0.5;
    transition: 300ms;
}

.nav-links a:hover {
    opacity: 1;
}



